@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './resets.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Poppins', sans-serif;
}

@layer base {
    #root {
        @apply h-screen;
    }

    body,
    body input {
        @apply text-slate-600 dark:text-gray-300 transition-colors duration-100;
    }

    button {
        @apply select-none transition;
    }

    p > a {
        @apply text-main-500 underline
    }

    /* Animación de botón al darle clic */
    button.ui-interactive {
        @apply active:scale-90 transition;
    }

    /* Labels que envuelven botones para hacer más grande su área de clic */
    .ui-label-button {
        @apply cursor-pointer;
    }
}

/* Desaparición de botones de incrementar y decrementar */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Efecto de pulso en botones */
.circle {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: growAndFade 0.625s ease-out forwards;
    pointer-events: none;
}

/* Animación de crecimiento para efecto de pulso en botones */
@keyframes growAndFade {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.profile-image {
    mask-image: url('../components/avatar/image_mask/profile_image_mask.svg');
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.profile-status-image {
    mask-image: url('../components/avatar/image_mask/online_image_mask.svg');
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}
